@model Dao.Models.ProductModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
        <h1>Create</h1>

        <h4>User</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ProductCode" class="control-label"></label>
                        <input asp-for="ProductCode" class="form-control" tabindex="1" />
                        <span asp-validation-for="ProductCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model" class="control-label"></label>
                        <input asp-for="Model" class="form-control" tabindex="2"/>
                        <span asp-validation-for="Model" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductName" class="control-label"></label>
                        <input asp-for="ProductName" class="form-control" tabindex="3" />
                        <span asp-validation-for="ProductName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductTypeId" class="control-label"></label>
                        <input asp-for="ProductTypeId" class="form-control" tabindex="4" />
                        <span asp-validation-for="ProductTypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CaseSize" class="control-label"></label>
                        <input asp-for="CaseSize" class="form-control" tabindex="5" />
                        <span asp-validation-for="CaseSize" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CaseMaterial" class="control-label"></label>
                        <input asp-for="CaseMaterial" class="form-control" tabindex="6" />
                        <span asp-validation-for="CaseMaterial" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Gender" class="control-label"></label>
                        <input asp-for="Gender" class="form-control" tabindex="7" />
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WaterResistance" class="control-label"></label>
                        <input asp-for="WaterResistance" class="form-control" tabindex="8" />
                        <span asp-validation-for="WatchMovement" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Function" class="control-label"></label>
                        <input asp-for="Function" class="form-control" tabindex="9" />
                        <span asp-validation-for="Function" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WatchMovement" class="control-label"></label>
                        <input asp-for="WatchMovement" class="form-control" tabindex="10"  />
                        <span asp-validation-for="WatchMovement" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" tabindex="11" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Quantity" class="control-label"></label>
                        <input asp-for="Quantity" class="form-control" tabindex="12"/>
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="About" class="control-label"></label>
                        <input asp-for="About" class="form-control" tabindex="13" />
                        <span asp-validation-for="About" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary"tabindex="14" />
                    </div>


                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

    </div>


    <script>
        $('#password, #confirm_password').on('keyup', function () {
            if ($('#password').val() == $('#confirm_password').val()) {
                $('#message').html('Matching').css('color', 'green');
            } else
                $('#message').html('Not Matching').css('color', 'red');
        });
    </script>


@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@






@*<div class="col-md-10 mx-auto py-4">
    <div class="card">
        <div class="card-header bg-primary text-uppercase text-white">
            <h4>Add New </h4>
        </div>
        <div class="card-body">
            <form enctype="multipart/form-data" asp-action="Create">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ProductCode" class="control-label"></label>
                            <input asp-for="ProductCode" class="form-control" />
                            <span asp-validation-for="ProductCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ProductName" class="control-label"></label>
                            <input asp-for="ProductName" class="form-control" />
                            <span asp-validation-for="ProductName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Gender" class="control-label"></label>
                            <select asp-for="Gender" class="form-control">
                                <option value="">Choose Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CaseSize" class="control-label"></label>
                            <input asp-for="CaseSize" class="form-control" />
                            <span asp-validation-for="CaseSize" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Function" class="control-label"></label>
                            <input asp-for="Function" class="form-control" />
                            <span asp-validation-for="Function" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CaseMaterial" class="control-label"></label>
                            <input asp-for="CaseMaterial" class="form-control" />
                            <span asp-validation-for="CaseMaterial" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ProductImage" class="control-label"></label>
                            <div class="custom-file">
                                <input asp-for="ProductImage" class="custom-file-input" id="customFile" accept="image/*">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                            <span asp-validation-for="ProductImage" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="submit" class="btn btn-sm btn-primary rounded-0 text-uppercase" />
                    <a asp-action="Index" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-fast-backward"></i> Back to List</a>
                </div>
            </form>
        </div>
    </div>*@
</div>

@*@section uploadImage{
        <script type="text/javascript">
            debugger;
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
        </script>
    }*@

